In [2]:
import pickle
import numpy
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

import random
import json

df=pd.read_json("data.json")
#display(df)

with open('data.json') as f:
    data = json.load(f)
    
df = pd.json_normalize(data['employees'], 
                     meta=['first_name', 'last_name', 'phone_number', 'salary', 'location', 'job'])

display(df)

,id,first_name,last_name,phoneNumber,salary,location,job,isManager
0,1,Brianne,Lynch,522-426-598,114000,Anguilla,Data Scientist,False
1,2,Bryana,Moen-Heidenreich,541-353-290,61000,Latvia,Security,False
2,3,Robbie,Purdy,540-187-779,84000,Oman,Custodial,False
3,4,Joelle,Sanford,775-504-904,81000,Egypt,Software Engineer,False
4,5,Zola,Bernhard,754-870-419,94000,Papua New Guinea,CyberSecurity,False
...,...,...,...,...,...,...,...,...
995,996,Derick,Luettgen,008-723-606,80000,Indonesia,HR,False
996,997,Eugene,Mayer,905-233-902,94000,Nicaragua,Customer Support,False
997,998,Brigitte,Crona,972-283-472,82000,Azerbaijan,Finance,False
998,999,Bulah,Carter,883-238-522,95000,Sint Maarten,Accounting,False
999,1000,Roma,Rodriguez,928-373-125,90000,United States Minor Outlying Islands,Data Engineer,True

In [3]:
from sklearn.linear_model import LogisticRegression

dfe = pd.get_dummies(df, columns=[ 'job'])
display(dfe)

X = dfe.iloc[:, 7:]
y = dfe.salary

X_train, X_test, y_train, y_test,= train_test_split(X, y, test_size=0.01, random_state = 42)

model = LogisticRegression()
model.fit(X_train, y_train)
pred = model.predict(X_test)
pred

,id,first_name,last_name,phoneNumber,salary,location,isManager,job_Accounting,job_Custodial,job_Customer Support,job_CyberSecurity,job_Data Engineer,job_Data Scientist,job_Finance,job_HR,job_Security,job_Software Engineer
0,1,Brianne,Lynch,522-426-598,114000,Anguilla,False,0,0,0,0,0,1,0,0,0,0
1,2,Bryana,Moen-Heidenreich,541-353-290,61000,Latvia,False,0,0,0,0,0,0,0,0,1,0
2,3,Robbie,Purdy,540-187-779,84000,Oman,False,0,1,0,0,0,0,0,0,0,0
3,4,Joelle,Sanford,775-504-904,81000,Egypt,False,0,0,0,0,0,0,0,0,0,1
4,5,Zola,Bernhard,754-870-419,94000,Papua New Guinea,False,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Derick,Luettgen,008-723-606,80000,Indonesia,False,0,0,0,0,0,0,0,1,0,0
996,997,Eugene,Mayer,905-233-902,94000,Nicaragua,False,0,0,1,0,0,0,0,0,0,0
997,998,Brigitte,Crona,972-283-472,82000,Azerbaijan,False,0,0,0,0,0,0,1,0,0,0
998,999,Bulah,Carter,883-238-522,95000,Sint Maarten,False,1,0,0,0,0,0,0,0,0,0
999,1000,Roma,Rodriguez,928-373-125,90000,United States Minor Outlying Islands,True,0,0,0,0,1,0,0,0,0,0

ValueError: at least one array or dtype is required

In [13]:
accuracy = accuracy_score(y_test, pred)
print(accuracy)

0.0